*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

main{
    max-width: 1024px;
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 835px) {
    main{
        flex-wrap: wrap-reverse;
        gap: 1rem;
        padding: 30px 6px;
    }
}